<% if @courses.empty? %>
  <h3>Nenhum curso disponível</h3>
<% end %>

<h1>Cursos Disponíveis</h1>

<% @courses.each do |course| %>
    <h3>Curso: <%= link_to course.name, course %></h3>
    <h4>Descrição: <%= course.description %></h4>
    <h4><%= number_to_currency course.price, unit: 'R$', separator: ',', delimiter: '.', format: '%u %n' %></h4>
    <br>
<% end %>

<p><%= link_to 'Voltar', root_path %></p>
